.p-divider-solid.p-divider-horizontal:before {
    border-top-style: solid !important;
}

.main-content ul {
    font-size: 40px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.categories ul{
    font-size: 25px;
    font-weight: 700;
}

.category-items {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    gap: 10px;
    width: 100%;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    flex-direction: row;

}

.p-card {
    text-align: center;
    width: calc(33.33% - 20px); 
    min-width: 330px; 
    max-width: 400px; 
    height: auto;
    border-radius: 15px;
    background: #FFEDF3;
    box-shadow: 20px 20px 60px #d9c9cf;
    color: rgba(0, 0, 0, .87);
}

:deep(.p-card-content, .p-card-title) {
    padding: 0px;
    margin: 0px;
}

p{
    margin: 0px;
}

.p-breadcrumb{
    background-color: #FFEDF3;
    color: rgba(0,0,0,.87);
    border: none;
}

.bag-container {
    position: fixed;
    bottom: 80px; 
    right: 100px;
    z-index: 999;
    transform: scale(1.2);
}

.pi:before {
    --webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: rgba(36, 36, 36, 0.87);
}

img{
    margin-top: 50px;
    width: 10%;
    padding: 10px;
}

.imgitem{
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 10px ;
}

.imghead{
    display: none;
}




@media  screen and (max-width: 1600px) {
    .p-card {
        min-width: 32%; 
    }
}


@media screen and (max-width: 1080px){
    .p-card {
        min-width: 32%; 
    }

 } 
@media  screen and (max-width: 650px){
.p-card {
    min-width: 45%; 
    height : 190px;
}
 .main-content ul{
    font-size: 30px;
    padding-left: 20px ;
    padding-top: 10px;
}

.categories ul{
    font-size: 20px;
    padding-left: 20px ;
    padding-top: 0px;
}

.p-breadcrumb, .pi:before{
    font-size: 13px;
    margin: 5px 5px -15px 3px;
}

:deep(.p-card-title, .p-card .p-card-content){
    font-size: 15px;
    padding: 0px 0px;
}
.imgitem{
    width: 90%;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
    margin-top: 10px ;
}
.bag-container {
    display:none;
}


}